# Inception env

COMPOSE_PROJECT_NAME=inception

LOGIN=login
DOMAIN_NAME=${LOGIN}.42.fr
USER=login

# SSL Certificate configuration
SSL_COUNTRY=MA
SSL_STATE=STATE
SSL_CITY=CITY
SSL_ORGANIZATION=ORG
SSL_OU=${LOGIN}

# Data directories
DATA_PATH=/home/${USER}/data

# MariaDB Configuration
MYSQL_ROOT_PASSWORD_FILE=/run/secrets/db_root_password
MYSQL_PASSWORD_FILE=/run/secrets/db_password
MYSQL_DATABASE=wordpress
MYSQL_USER=wpuser

DB_HOST=mariadb
DB_PORT=3306

# WordPress Configuration
WORDPRESS_TITLE=Inception WordPress
WORDPRESS_URL=https://${LOGIN}.42.fr

WORDPRESS_ADMIN_USER=wpowner
WORDPRESS_ADMIN_PASSWORD=SecurePass123!
WORDPRESS_ADMIN_EMAIL=wpowner@${LOGIN}.42.fr

WORDPRESS_USER=editor
WORDPRESS_USER_PASSWORD=EditorPass123!
WORDPRESS_USER_EMAIL=editor@${LOGIN}.42.fr
